grpcio==1.75.1
protobuf==6.32.1
google-auth==2.40.3
google-cloud-firestore==2.21.0
google-cloud-storage==3.4.0
numpy==1.26.4
rfdetr==1.9.1
torchvision==0.20.1
opencv-python-headless==4.10.0.84
pandas==2.2.3
pillow==10.4.0
pydantic==2.12.5
python-dotenv==1.2.1
scikit-learn==1.7.2
shapely==2.1.2
tqdm==4.67.1
